<body>
    <div class="container">
    <div class="top child"><app-top></app-top></div>
   
    <div class="main child"> 
    <!---------------------Page --------------------->        
        <div class="titre">Entreprise</div> 

        <div align="center">
        <table>
            <tr>
                <td align="center" width="200px">
                    <a routerLink="/listepersonne" ><img src="./assets/pix/folder2.gif" width="120px"></a>
                    <p>Liste des employees</p>
                </td>
                <td align="center" width="200px">
                    <a routerLink="/listeservice" ><img src="./assets/pix/tab-mod.gif" width="120px"></a>
                    <p>Liste des services</p>
                </td>
                <td align="center" width="200px">
                    <a routerLink="/test" ><img src="./assets/pix/voir.gif" width="120px"></a>
                    <p>Test</p>
                </td>
            </tr>
        </table>
        </div>
        
    <!---------------------Page --------------------->        
    </div>
    <div class="bottom child"><app-bottom></app-bottom></div>
    </div>
 </body>
    
    