<body>
    <app-top></app-top>
    <div>
    <!---------------------Page --------------------->        
    <div align="left">

    <H1>Test de la Gateway</H1>  
    <form (ngSubmit)="onSubmitForm()">
        <table border="0" cellspacing="4" cellpadding="4">
          <tr>
            <td width="100%">
              <font class="txt">Url :</font>:
              <input type="txt" name="fUrl" class="forms" value="http://gw1.neogiciel.com" [(ngModel)]="fUrl">
            </td>
          </tr>
          <tr>
            <td width="100%">
              <font class="txt">Path:</font>
              <input type="txt" name="fPath" class="forms" value="/test" [(ngModel)]="fPath">
            </td>
          </tr>
          <tr>
            <td colspan=1 align="center">
              <input name="submit" type="Submit" value="    Valider   " class="bouton">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <!---------------------Page --------------------->        
    </div>
    <app-bottom></app-bottom>
 </body>

